---
layout: articleFramework.njk
title: È online! - Un Giro Di Vita
h1: È online!
tags: articles
date: 2021-01-01
description: Il sito ungirodivita.it è online, in cui Franco Scarpa annota il suo cammino alla ricerca di uno stile di vita migliore.
---
<p>Questo è quello che spero sia solo il primo di tanti articoli che scriverò per il sito ungirodivita.it, il mio “diario” in cui racconto la mia esperienza perseguendo l‘idea di adottare uno stile di vita migliore. Seguendo gli insegnamenti del Dr. Franco Berrino, il quale non fa altro che testimoniare i risultati di grandi studi scientifici e che hanno quindi una base solida, ho cominciato a seguire delle “vie” precise, che spiego in dettaglio nella pagina Chi sono. Non mi resta che augurarti una buona permanenza su questo sito, una piacevole lettura e chissà, magari qualche spunto di riflessione personale.</p>