---
layout: postFramework.njk
title: Continuous Deployment - Franco Scarpa
h1: Continuous Deployment
tags: posts
date: 2020-10-18
description: Netlify’s continuous deployment lets me build and deploy my website with a single command.
---
<p class="underMetadata">I’m happy to announce that my website <a href="/">francoscarpa.com</a> now uses <a href="https://www.netlify.com/products/workflow/">Netlify’s continuous deployment</a>. That means I no longer build it locally and deploy it manually on Netlify. Instead, I created a repository on GitHub to store all of the source code of the website. Then, I connected it to Netlify. Each time I push the source code to GitHub, Netlify runs a build and deploys the result to its CDN. This way, I have a remote backup of my code, and I can build and deploy it with a single command.</p>