---
layout: framework.njk
title: Contatti - Un Giro Di Vita
nameDisplayed: Contatti
tags: mainMenuPage
order: 6
description: Here you can find all the ways in which you can contact Franco Scarpa, from his email to his social profiles.
h1: Contatti
h2: Puoi usare vari modi per entrare in contatto con me
---
