---
layout: framework.njk
title: Contatti - Un Giro Di Vita
nameDisplayed: Contatti
tags: mainMenuPage
order: 6
description: Here you can find all the ways in which you can contact Franco Scarpa, from his email to his social profiles.
h1: Contatti
h2: Puoi usare vari modi per entrare in contatto con me
---
<p>Ci sono due modi con cui puoi metterti in contatto con me: tramite <a href="mailto:ungirodivita@gmail.com">email</a> oppure tramite commento o messaggio privato su <a href="https://www.instagram.com/ungirodivita/">Instagram</a>. Sarà lieto di parlare con te per condividere opinioni, idee, spunti, riflessioni e consigli!</p>