---
layout: framework.njk
title: Un Giro Di Vita
tags: mainMenuPage
order: 1
nameDisplayed: Home
description: Questo sito nasce con l'intento di condividere la mia esperienza e le mie scelte per uno stile di vita migliore, aderendo a fondamenti scientifici, sperimentando, mettendomi in gioco e conoscendo sempre più me stesso, il mio corpo e la mia mente.
h1: Un Giro Di Vita
h2: Il mio cammino alla ricerca di uno stile di vita migliore
---
<p>Ciao, mi chiamo Franco e sono l'ideatore, il creatore e il proprietario di questo sito. Negli ultimi anni mi sono avvicinato a uno stile di vita che ha segnato uno stacco definitivo dal precedente.</p>

<p>Anni fa vidi assistetti in televisione un intervento del Dr. Franco Berrino, medico ed epidemiologo italiano, noto anche per le sue numerose conferenze, discussioni e presentazioni incentrate sull'individuazione di un corretto stile di vita. La sua figura suscitò immediatamente il mio interesse, poi diffusosi guardando i suoi interventi, leggendo i suoi libri e le sue interviste. Secondo Berrino, uno stile di vita sano è raggiungibile percorrendo tre vie:</p>

<ul>
    <li>la via del cibo</li>
    <li>la via del movimento</li>
    <li>la via della meditazione</li>
</ul>

<p>Questi tre sentieri si fondono in quella che Berrino definisce "La Grande Via", espressione che egli cosparge nelle pagine dei suoi libri e che ha portato alla creazione dell'omonima associazione e relativo portale lagrandevia.it, sito Web ufficiale dell'associazione.</p>

<p>A queste tre vie ho aggiunto la via delle passioni e dei piaceri, intesa come ricerca di ciò che realmente piace fare e rende davvero felici, senza il timore del giudizio altrui.</p>

<p>In questo sito e nel suo profilo Instagram condivido la mia esperienza nell'intenzione di seguire questi sentieri. Oggi, oltre ad aver maturato il raggiungimento della mia “via” personale, quella della ricerca di sé, ciò che ho fatto nel corso degli ultimi anni è stato abbracciare la prima via, quella del cibo. Il mio obiettivo è quello di seguire anche le altre due vie, quella del movimento, dell'attività fisica quotidiana, e quella della meditazione.</p>

<p>Ti auguro una piacevole permanenza in questo sito, con l'invito a visitare la pagina “Contatti” per scoprire come potermi contattare per qualunque idea, suggerimento o per un proficuo e piacevole scambio di opinioni.</p>