---
layout: framework.njk
title: Risorse - Un Giro Di Vita
tags: mainMenuPage
order: 4
nameDisplayed: Risorse
description: Resources to resources that Franco Scarpa considers interesting and that can be stimulating for the reader.
h1: Risorse
h2: Cose che ti potrebbero interessare
---
<p class="metadata">Associazione</p>
<p class="link">
   <a href="https://lagrandevia.it/">La Grande Via</a>
</p>