---
layout: framework.njk
title: Offline - Franco Scarpa
---
<header>
   <h1>Damn it! You’re offline</h1>
   <p class="underH1">You have no Internet connection and the page you wanted to see has not yet been cached. Anyway, you can still view the <a href="/">Home</a>, <a href="/blog/">Blog</a>, <a href="/notes/">Notes</a>, <a href="/links/">Links</a>, <a href="/about/">About</a>, and <a href="/contact/">Contact</a> pages, as well as any other page you navigated to before loosing the connection.</p>
</header>