---
layout: framework.njk
title: Privacy Policy - Franco Scarpa
h1: Privacy Policy
h2: You’ve already spread your data across the Web. This site doesn’t want to be part of that circle
description: The privacy policy of the francoscarpa.com website. No user information is stored. Your experience on this site is far more important than metrics.
---
<p>This website doesn’t collect any personal data and it doesn’t provide any form. If you want to get in touch with me, the best way is through my <a href="mailto:scarpafranco92@hotmail.it">e-mail</a> adress, or alternatively my <a href="https://www.linkedin.com/in/francoscarpa/">Linkedin</a> and <a href="https://dev.to/francoscarpa">Dev.to</a> profiles.</p>

<p>This website <em>doesn’t</em>:</p>
<ul>
  <li>use third-party services;</li>
  <li>use JavaScript libraries;</li>
  <li>use Google Analytics or other similiar services;</li>
  <li>use third-party tracking scripts;</li>
  <li>store cookies on your browser;</li>
  <li>use a server-side database;</li>
  <li>use scripts to load social icons;</li>
  <li>show any ad.</li>
</ul>

<p>I don’t care about what pages are seen the most. I just want to provide you content, hoping you find it interesting and useful.</p>